.table-responsive
  table.table.table-condensed(cellpadding=0, cellspacing=0, border=0)
    tr
      - var sorting = {name: 'Name', size: 'Size', date: 'Age', status: 'Seed/Leech'}
      th.torrent-header Category
      each val, key in sorting
        th.torrent-header(colspan=(key === 'status' ? 3 : 1),class='torrent-header--' + key)= val
          a.torrent-sorting.torrent-sorting--up(href='#', class=sort === key.slice(1) && 'on' || '')
          a.torrent-sorting.torrent-sorting--down(href='#', class=(sort === key && 'on' || ''))
    each torrent in torrents
      tr
        td
          a.torrent-category(href='#')
            span.torrent-category-prefix(class='torrent-category-prefix--' + torrent.name_prefix.toLowerCase() + (torrent.name_suffix ? '' : ' torrent-category-prefix--single'))= torrent.name_prefix
            if torrent.name_suffix
              //span.torrent-category-suffix-seperator
              span.torrent-category-suffix(class=torrent.name_suffix === 'ENG' && 'torrent-category-suffix--' + torrent.name_prefix.toLowerCase() || 'torrent-category-suffix--unknown')= torrent.name_suffix
        td(colspan=2)
          .options
            a.download(href="/#{torrent.info_hash}",title="Download")
          .name
            a.torrent-name(href="/#{torrent.info_hash}")= torrent.filename
            .torrent-size= torrent.friendly_size
        td(align='center')
          .torrent-date(class=torrent.age.indexOf('days')>-1 ? 'old' : '')= torrent.age
        td(align='right')
          .torrent-seeders(class=torrent.seeders === 0 && 'none' || '')= torrent.seeders
        td /
          .torrent-leechers= torrent.leechers
        td(align='right')
          .torrent-completed= torrent.completed
