extends static/templates/base

block content
  .torrents
    .pager
      h4 Showing #{pager.first} to #{pager.last} of #{pager.final}
      include static/templates/inlines/pager
    table(cellpadding=0, cellspacing=0, border=0)
      - var sorting = [('size', 'Size'), ('name', 'Name'), ('date', 'Uploaded'), ('status', 'Seeders')]
      each key, val in sorting
          th
            = val
            a.up(href=util.link({'sort': '+' + key}, true), class='on' if key == sort[1:])
            a.down(href=util.link({'sort': key}, true), class='on' if key == sort)
      each date_group in torrent_group
        if date_group.date
          tr
            th(colspan=4)
              .date_group= date_group.date
        each torrent in date_group.torrents
          tr
            td
              a.category(href=util.link({'cat': torrent.category.name}, true))=torrent.category.name
              .options
                a.download(href="#",title="Download")
                //-a.favorite(href="#",title="Favorite and follow this series")
                a.comments(href="#",title="Read/Write Comments")
            td
              .name
                a(class=torrent.get_group()["class"],
                  href="/torrent/#{torrent._id}").
                  #{torrent.safe_name}
                div
                  a.user(href="/profile/#{torrent.user._id}",title="Uploader").
                    #{torrent.user.username}
                  if torrent.get_group()["is"]
                      a.group(href="#",title="Fansub Group").
                        #{torrent.get_group()["name"]}
                  .size= torrent.size_friendly
            td(align)
              .date(class='new' if torrent.is_recent)= torrent.age if date_group.date else torrent.created
            td
              .status= torrent.status
    .pager
      include static/templates/inlines/pager
